{% extends 'base.html' %} {% block content %} {% load static %}
<div class="row">
  <h1 class="text-center pt-3">Lyrics</h1>
  <br />
  <br />
  <br />
  <br />
</div>

<div class="row mb-6 pt-3 pl-5 pb-5 border-top border-dark">
  <div class="row">
    <h3 class="mb-5">Norm-Core: Your Perfected Self</h3>
  </div>
  <div class="row">
    <div class="col-md-6 pb-5">
      <div class="row">
        <img
          src="{{ norm.image.url }}"
          class="img-fixed"
          width="60%"
          height="60%"
          alt="Norm-Core cover"
        />
      </div>
    </div>
    <div class="col-md-6">
      {%for song in norm_lyrics.all%}
      <div class="row pb-2">
        <h5>
          {{ song.track_no }} -
          <a href="{% url 'detail' song.title %}">{{song.title}}</a>
        </h5>
      </div>
      {%endfor%}
    </div>
  </div>
</div>

<div class="row mb-5 pt-3 pl-5 pb-5 border-top border-dark">
  <div class="row">
    <h3 class="mb-5">Murder Eyes</h3>
  </div>
  <div class="row">
    <div class="col-md-6 pb-5">
      <div class="row">
        <img
          src="{{ murder.image.url }}"
          class="img-fixed"
          width="60%"
          height="60%"
          alt="Murder Eyes cover"
        />
      </div>
    </div>
    <div class="col-md-6">
      {%for song in murder_lyrics.all%}
      <div class="row pb-2">
        <h5>
          {{ song.track_no }}
          <a href="{% url 'detail' song.title %}">{{song.title}}</a>
        </h5>
      </div>
      {%endfor%}
    </div>
  </div>
</div>

<div class="row mb-5 pt-3 pl-5 pb-5 border-top border-dark">
  <div class="row">
    <h3 class="mb-5">Dress to Disappear</h3>
  </div>
  <div class="row">
    <div class="col-md-6 pb-5">
      <div class="row">
        <img
          src="{{ dress.image.url }}"
          class="img-fixed"
          width="60%"
          height="60%"
          alt="Dress to Disappear cover"
        />
      </div>
    </div>
    <div class="col-md-6">
      {%for song in dress_lyrics.all%}
      <div class="row pb-2">
        <h5>
          {{ song.track_no }}
          <a href="{% url 'detail' song.title %}">{{song.title}}</a>
        </h5>
      </div>
      {%endfor%}
    </div>
  </div>
</div>

{% endblock %}
