{% extends 'base.html' %} {% block content %} {% load static %}

<h1>Electronic Press Kit</h1>

<h2 class="pt-5 pb-2 text-left"><u>Bio</u></h2>

<div class="row pt-3 text-left ml-5">
  <p>
    Apprehenchmen is a post-punk 4 piece band in Oakland California. Their new
    album "Norm-Core: Your Perfected Self" channels My Bloody Valentine, Gang of
    Four, Pavement and Brian Eno, often switching rhythms and genres within the
    same song to keep their listeners from getting comfortable. Anchored by the
    spousal team of Andy Tisdall and Stacey Swan, Apprehenchmen's eclectic live
    performances, striking recorded output, and weirdly touching lyrics have
    earned them a devoted following in the East Bay.
  </p>
  <p>
    <strong>Andy Tisdall</strong> (he/him) - bass, vocals
    <br />
    <strong>Stacey Swan</strong> (she/her) - drums, vocals
    <br />
    <strong>Dan Hoffheins</strong> (he/him) - guitar
    <br />
    <strong>Shaun Haber</strong> (he/him) - guitar
    <br />
  </p>
</div>

<h2 class="pt-5 pb-4 text-left"><u>Music</u></h2>

<div>
  <ul>
    <li>
      <strong>Norm-Core: Your Perfected Self</strong> is Apprehenchmen's third
      full-length album, released March 9th 2025.
    </li>
  </ul>
</div>

<div class="row pl-5">
  <iframe
    style="border: 0; width: 350px; height: 786px"
    src="https://bandcamp.com/EmbeddedPlayer/album=475266089/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/transparent=true/"
    seamless
    ><a
      href="https://apprehenchmen.bandcamp.com/album/norm-core-your-perfected-self"
      >Norm-Core: Your Perfected Self by Apprehenchmen</a
    ></iframe
  >
</div>
<div class="row pl-5 pt-3">
  <strong>Focus tracks:</strong> "Hands on a Bird Body", "Cursed in the
  Knowledge", "Design, Decay, Ressurect"
</div>
<div class="row pl-5 pt-3">
  <a
    href="{% static 'Apprehenchmen - Norm-Core- Your Perfected Self.zip' %}"
    download
    >Download <strong>Norm-Core: Your Perfected Self</strong></a
  >
</div>
<div class="row pl-5 pt-3">
  <a href="{% url 'lyrics'%}">Lyrics for Norm-Core: Your Perfected Self</a>
</div>

<h2 class="pt-5 pb-4 text-left"><u>Photos</u></h2>

<div class="row ml-5">
  <div class="col-sm-12 col-md-6 pb-3">
    <img src="{% static 'gb3.jpg' %}" class="img-fluid" />
  </div>
  <div class="col-sm-12 col-md-6 pb-3">
    <img src="{% static 'stork.jpg' %}" class="img-fluid" />
  </div>
  <div class="col-sm-12 col-md-6 pb-3">
    <img src="{% static 'golden-2.jpg' %}" class="img-fluid" />
  </div>
</div>
<h2 class="pt-5 pb-4 text-left"><u>Video</u></h2>

<div class="row">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/ufZbsasb9i8?si=fNonQs3mC21vX37y"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>

<h2 class="pt-5 pb-2 text-left"><u>Links</u></h2>

<div class="ml-5">
  <div class="row pt-3">
    <h4><a href="{% url 'home' %}">Homepage</a></h4>
  </div>

  <div class="row pt-3">
    <h4>
      <a href="http://instagram.com/apprehenchmen" target="_blank">
        Instagram
      </a>
    </h4>
  </div>
</div>

<h2 class="pt-5 pb-2 text-left"><u>Shows</u></h2>
<div class="ml-5">
  <div class="row pt-3">
    <h4><b>June 24th, 2025: </b><a href="{% url 'shows' %}">Stork Club</a></h4>
  </div>
</div>

<h2 class="pt-5 pb-2 text-left"><u>Contact</u></h2>
<div class="ml-5">
  <div class="row pt-3 pb-5">
    <h4>
      <a href="mailto:apprehenchmen@gmail.com">apprehenchmen@gmail.com</a>
    </h4>
  </div>
</div>

{% endblock %}
