{% extends 'base.html' %} {% block content %} {% load static %}
<div class="home-container">
  <div class="home-list">
    <div class="home-item">Item qith w atitle</div>

    <div class="home-item">Item qith w atitle</div>

    <div class="home-item">Item qith w atitle</div>

    <div class="home-item">Item qith w atitle</div>

    <div class="home-item">Item qith w atitle</div>

    <div class="home-item">Item qith w atitle</div>

    <div class="home-item">Item qith w atitle</div>

    <div class="home-item">Item qith w atitle</div>
  </div>
</div>

{% endblock %}
