{% extends 'base.html' %} {% block content %} {% load static %}
<div class="home-container bg-dark">
  <div class="home-list">
    <!-- <a class="home-item" href="https://apprehenchmen.bandcamp.com">
      New single <span class="home-item-title">"Canary in the Mine"</span>
    </a> -->

    <a class="home-item" href="{% url 'shows'%}"
      ><span class="home-item-title">Next Show:</span> 6/24/26 at Little Hill
      Lounge</a
    >

    <a class="home-item" href="{% url 'listen'%}">
      <span class="home-item-title">Norm-Core: Your Perfected Self</span>
      album out now
    </a>

    <a class="home-item" href="https://www.youtube.com/watch?v=OVAHBm0zYvM">
      <span class="home-item-title">Video:</span> "Tonberry" live at the
      Fireside Lounge
    </a>

    <!-- <div class="home-item">Buy Merch</div> -->
  </div>
</div>

{% endblock %}
